body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    font-family: 'Poppins' !important;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  button {
    font-family: 'Poppins' !important;
  }
  header {
    background-color: black;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .left-half {
    width: 100%;
    float: left;
    height: 100vh;
    transition-property: width;
    transition-duration: 2s;
  }
  .left-half.addedclass {
      width:50%;
  }
  .right-half {
    float: left;
    height: 100vh;
    margin-top: 1000px;
    transition-property: width;
    transition-duration: 2s;
    width: 0%;
    background-color: #ccc; /* set background color of right half */
  }
  .rgiht-half.addedclass {
      width:50%;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: top;
  }

  #animationWindow {
    width: 250px;
    height: 250px;
   }
  
  h1 {
    margin: 0;
    color: white;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
  }
  
  input[type="text"], select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
  }

  button[type="submit"] {
    padding: 10px 30px;
    background-color: #FFF;
    color: #2ECC71;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .search-button {
    padding: 10px 30px;
    background-color: #07301e;
    opacity: 0.85;
    color: #FFF;
    font-size: 18px;
    border-radius: 5px;
    height: 42px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .song-search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-song-container {
    display: flex;
    justify-content : left;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .search-song-image-container {
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    overflow: hidden;
    display: cover;
    border-radius: 50%;
    margin-right: 20px;
  }

  .song-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  .song-details {
    display: flex;
    flex-direction: column;
  }

  .song-name {
    margin: 0;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: bold;
    color: #333;
  }

  .song-year {
    margin: 0;
    font-size: 10px;
    color: #808080;
  }
  
  .selected-song-container {
    display: flex;
    justify-content : left;
    align-items: center;
    flex-direction: row;
    background-color: #000;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
  }

  .selected-song-name {
    margin: 0;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: bold;
    color: #ececec;
  }
  
  ul {
    list-style-type: none;
  }

  #get-recommendations-button {
    background-color: #68e19b;
    color: black;
    font-size: 24px;
  }
  #get-recommendations-button:enabled {
    font-weight: bolder !important;
  }

  #get-recommendations-button:disabled {
    background-color: #808080;
    color: lightgrey;
    opacity: 0.7;
  }
  
  #get-recommendations-button:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .rec-song-card {
    display: flex;
    flex-direction: row; /* Make the children align horizontally */
    align-items: center;
    justify-content: flex-start; /* Align the children to the left */
    min-width: 500px; /* Set the minimum width to 0 to allow shrinking */
    width: 100%; /* Set the width to 100% to fill the parent element */
    background-color: #fff;
    border: 3px solid #303030;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to bottom, #1b1b1b, #575757);
    margin-bottom: 10px;
  }

  .rec-song-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: block;
    filter: blur(0);
    transition: filter 0.3s ease-in-out;
  }

  .rec-song-card:hover .rec-song-image {
    filter: blur(2px);
  }
  .rec-song-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 120px;
    max-height: 120px;
    background-color: black;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
  }
  
  .rec-song-card:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .fa-user:hover {
    color: #eee;
  }

  .rec-song-details {
    padding: 16px;
    flex: 1;
    box-sizing: border-box;
  }

  .song-title {
    margin: 0;
    font-size: 24px;
    color: #fff;
    font-family: 'Poppins';
    font-weight: bold;
    overflow-wrap: break-word;
  }

  .rec-song-release-year,
  .rec-song-album,
  .rec-song-artists {
    margin: 4px 0;
    font-size: 16px;
    font-family: 'Poppins';
    color: #fff;
    overflow-wrap: break-word;
  }

  .rec-song-release-year {
      font-size: 14px;
  }

  .rec-song-artists {
      font-size: 14px;
  }

  .rec-song-album {
    font-weight: bold;
  }

  .rec-song-artists {
    font-weight: normal;
    color: #fff;
  }

  .advanced-search-button {
    background-color: rgba(0, 0, 0, 0); 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
  }

  .advanced-search-button:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
  }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.tempo-slider-labels {
  position: relative;
  left: 90px;
  width: 300px;
  gap: 90px;
  display: flex;
  margin-top: 20px;
}


.mood-slider-labels {
  position: relative;
  left: 60px;
  width: 300px;
  gap: 15px;
  display: flex;
  margin-top: 20px;
}

.slidecontainer {
  text-align: right;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mood-slider-labels span {
  font-size: 14px;
  font-weight: bold;
  color: #e7e7e7;
  flex-grow: 1;
  text-align: center;
}

.tempo-slider-labels span {
  font-size: 14px;
  font-weight: bold;
}

.filter-table {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.filter-row {
  width: 100%;
  margin: 20px;
}

.filter-text {
  display: table-cell;
  width: 100px;
  font-weight: bold;
}

.filter-element {
  width: 100%;
  display: table-cell;
  text-align: right;
}

section.range-slider {
  position: relative;
  width: 200px;
  height: 35px;
  text-align: center;
}

section.range-slider input {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 105px;
  top: 10px;
  width: 300px;
  outline: none;
  height: 18px;
  margin: 0;
  padding: 0;
}

section.range-slider input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}

section.range-slider input::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 9px;
}

section.range-slider input::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  border: 0;
}

.slider-label {
  float: right;
}

.filter-text {
  vertical-align: middle;
}


.tempo-slider {
  width: 300px;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  -webkit-appearance: none;
}

.tempo-slider:hover {
  opacity: 1;
}

.tempo-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

.tempo-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
